node_modules/
dist/
.DS_Store
*.log
*.png
!src/assets/characters/*.png
!src/assets/characters/**/*.png
!src/assets/enemies/**/*.png
!src/assets/textures/*.png
*.glb
!ksman_walk_1k_meshopt.glb
!bug_walk_1k_meshopt.glb
!ppt_walk_1k_meshopt.glb
*.fbx
*.blend
*.blend1
old_models/
